.time-picker {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border-radius: 20px;

    background-color: var(--second-accent-color);
    color: var(--text-color);
}

.time-picker-arrow {
    width: 2rem;
    height: 2rem;

    color: var(--text-color);
    cursor: pointer;
}   

.time-picker-clock {
    font-weight: 600;
    cursor: pointer;
}