.login-page {
  display: flex;
  height: 100vh;
}

.login-page__img {
  width: 65%;
  object-fit: cover;
}

.login-page__article {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.login-page__title {
  font-size: 7rem;
  margin: 15rem 0 7rem 0;
}

.login-page__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

.login-page__controls {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.login-page__button {
  margin-top: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--second-accent-color);
  border: none;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--second-accent-color-hover);
  }
}